.idea_list_wrapper{
    .tiles_card{
      height:14rem;
      width: 14rem;
      .card{
        box-shadow: 5px 10px #88888850 !important;
      }
      .card:hover{
        box-shadow:none !important;
        transition: 0.4s ease-out;
      }
    }
    .rdt_TableRow{
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }
    .rdt_TableRow:hover {
      background-color: rgba(255, 203, 52, 0.2);
  }
  .level-status-card{
    min-height: 16rem;
  }
}
.comment-card::before{
  content: '';
  height: 100%;
  width: 5px;
  background: #067DE1;
  position: absolute;
  left: 0;
  top: 0;
  border: 27px;
} 